<div id="{{vm.formId}}-crud-table" ng-if="vm.filterResults.length > 0">

    <div class="table-responsive" style="white-space: nowrap;">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th></th>
               		<th ng-repeat="fieldName in vm.fieldsTable">
						<a href ng-click="vm.sortLeft(fieldName)"><span class="glyphicon glyphicon-arrow-left"></span> </a>
						<a href ng-click="vm.sortToggle(fieldName)"> {{vm.serverConnection.convertCaseAnyToLabel(vm.properties[fieldName].label)}}</a>
						<a href ng-click="vm.sortRigth(fieldName)"><span class="glyphicon glyphicon-arrow-right"></span> </a>
               		</th>
                </tr>
            </thead>
            <tbody id="{{vm.formId}}-crud-table-body">
                <tr ng-repeat="item in vm.pagination.listPage">
					<td>
						<a href="{{vm.buildLocationHash('view', {primaryKey: vm.rufsService.getPrimaryKey(item)})}}"><span class="glyphicon glyphicon-eye-open"></span> {{vm.translation.view}}</a>
						<a href ng-click="vm.searchSelect(vm.searchParams.selectOut, item)" ng-if="vm.searchParams.selectOut != null"><span class="glyphicon glyphicon-ok"></span> Select</a>
<!--
						<a href="{{vm.buildLocationHash('view', vm.rufsService.getPrimaryKey(item))}}" ng-if="vm.rufsService.access.put == false"><span class="glyphicon glyphicon-eye-open"></span> {{vm.translation.view}}</a>
						<a href="{{vm.buildLocationHash('edit', vm.rufsService.getPrimaryKey(item))}}" ng-if="vm.rufsService.access.put == true"><span class="glyphicon glyphicon-edit"></span> {{vm.translation.edit}}</a>
						<a href ng-if="vm.rufsService.access.delete == true" ng-click="vm.remove(vm.rufsService.getPrimaryKey(item))"><span class="glyphicon glyphicon-trash"></span> {{vm.translation.delete}}</a>
-->
					</td>
                    <td ng-repeat="fieldName in vm.fieldsTable">
                    	<a href="{{vm.goToField(fieldName, 'view', item, false)}}">{{vm.buildFieldStr(fieldName, item)}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

	<ul uib-pagination ng-if="vm.filterResults.length > vm.pagination.pageSize" ng-change="vm.setPage(vm.pagination.currentPage)" items-per-page="vm.pagination.pageSize" total-items="vm.filterResults.length" ng-model="vm.pagination.currentPage" max-size="10" boundary-link-numbers="true" rotate="false"></ul>

	<div class="form-group row" ng-if="vm.filterResults.length > vm.pagination.pageSize">
	    <label for="page-size" class="col-xs-2 col-form-label">Page size</label>

	    <div class="col-xs-2">
			<input class="form-control" id="{{vm.formId}}-crud-table-page-size" name="page-size" ng-model="vm.pagination.pageSize" type="number" step="1" ng-change="vm.pagination.setPageSize(vm.pagination.pageSize)">
	    </div>
	</div>
	
</div>
