<h4>{{vm.translation.new}}</h4>

<form id="{{vm.formId}}" name="{{vm.formId}}" class="form-horizontal" role="form">
	<div ng-include="'./templates/crud-model_form_body.html'"></div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
		<button id="{{vm.formId}}-clear"  name="clear"  class="btn btn-default" ng-click="vm.clearForm()"                                         ><span class="glyphicon glyphicon-erase"></span> {{vm.translation.clear}}</button>
		<button id="{{vm.formId}}-save"   name="save"   class="btn btn-default" ng-click="vm.save()"       ng-disabled="vm.isValid() == false"><span class="glyphicon glyphicon-save"  ></span> {{vm.translation.save}}</button>
		<button id="{{vm.formId}}-cancel" name="cancel" class="btn btn-primary" ng-click="vm.goToSearch()"                                    ><span class="glyphicon glyphicon-remove"></span> {{vm.translation.cancel}}</button>
      </div>
    </div>
</form>

<crud-item-json ng-repeat="item in vm.listItemCrudJson" vm="item" edit="true"></crud-item-json>
<crud-obj-json ng-repeat="item in vm.listCrudObjJson" vm="item" edit="true"></crud-obj-json>
<crud-json-array ng-repeat="item in vm.listCrudJsonArray" vm="item" edit="true"></crud-json-array>

<crud-obj-json ng-if="vm.crudObjJsonResponse != null" vm="vm.crudObjJsonResponse" edit="false"></crud-obj-json>
