<h4>{{vm.translation.edit}}</h4>

<form id="{{vm.formId}}" name="{{vm.formId}}" class="form-horizontal" role="form">
	<div ng-include="'./templates/crud-model_form_body.html'"></div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
		<button id="{{vm.formId}}-cancel"                                              name="cancel" class="btn btn-default" ng-click="vm.goToSearch()"><span class="glyphicon glyphicon-remove"></span> {{vm.translation.cancel}}</button>
		<button ng-if="vm.rufsService.access.put == true"    id="{{vm.formId}}-update" name="update" class="btn btn-primary" ng-enabled="vm.isValid() && vm.isChanged()" ng-click="vm.update()"><span class="glyphicon glyphicon-save"></span> {{vm.translation.save}}</button>
		<button ng-if="vm.rufsService.access.post == true"   id="{{vm.formId}}-save"   name="save"   class="btn btn-primary" ng-enabled="vm.isValid() && vm.isChanged()" ng-click="vm.saveAsNew()"><span class="glyphicon glyphicon-import"></span> {{vm.translation.saveAsNew}}</button>
		<button ng-if="vm.rufsService.access.delete == true" id="{{vm.formId}}-delete" name="delete" class="btn btn-danger"  ng-click="vm.remove()"><span class="glyphicon glyphicon-trash"></span> {{vm.translation.delete}}</button>
      </div>
    </div>
</form>

<crud-item ng-repeat="item in vm.listItemCrud" vm="item" edit="true"></crud-item>
<crud-item-json ng-repeat="item in vm.listItemCrudJson" vm="item" edit="true"></crud-item-json>
<crud-obj-json ng-repeat="item in vm.listCrudObjJson" vm="item" edit="true"></crud-obj-json>
<crud-json-array ng-repeat="item in vm.listCrudJsonArray" vm="item" edit="true"></crud-json-array>
