<div ng-repeat="(fieldName,field) in vm.properties" ng-if='field.type != "object" && field.type != "array" && field.hiden != true'>
	<div class="form-group" ng-class="{'has-error': {{vm.formId}}-aggregate.{{fieldName}}.$invalid}">
	    <label for="{{fieldName}}" class="col-xs-3 control-label">{{vm.serverConnection.convertCaseAnyToLabel(field.label)}}</label>

		<div class="col-xs-9" ng-if="field.aggregateRangeOptions != undefined">
			<select class="form-control" id="{{vm.formId}}-aggregate-{{fieldName}}" name="{{fieldName}}" ng-model="vm.instanceAggregateRange[fieldName]" ng-options="o for o in field.aggregateRangeOptions"></select>
		</div>

	    <div class="col-xs-4" ng-if="field.aggregateRangeOptions == undefined && field.htmlTypeIsRangeable == true">
			<input  class="form-control" id="{{vm.formId}}-aggregate-{{fieldName}}" name="{{fieldName}}" ng-model="vm.instanceAggregateRange[fieldName]" type="{{field.htmlType}}" step="{{field.htmlStep}}" placeholder="{{field.placeholder}}">
	    </div>

	    <div class="col-xs-4" ng-if="field.aggregateRangeOptions == undefined && field.htmlTypeIsRangeable == false">
            <input  class="form-control" id="{{vm.formId}}-aggregate-{{fieldName}}" name="{{fieldName}}" ng-model="vm.instanceAggregateRange[fieldName]" type="checkbox">
	    </div>
	</div>
</div>
