<h1>Controle de Acesso</h1>

<form>
    <div class="form-group" ng-show="vm.server != undefined">
        <label for="server">Servidor CORS</label>
        <input type="text" name="server" id="server" ng-model="vm.server" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label for="user">Usuário</label>
        <input type="text" name="user" id="user" style="text-transform: lowercase;" ng-model="vm.user" class="form-control" ng-required="true"/>
    </div>
    
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" ng-model="vm.password" class="form-control" ng-required="true"/>
    </div>
	
	<button id="login" class="btn btn-default" ng-click="vm.login()">Ok</button>
</form>

<div id="messages" ng-if="vm.message.length > 0">
	<strong>{{vm.message}}</strong>
</div>
